<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea</title>
</head>
<body>
    <h1>Esta es mi tarea</h1>
    <h2>Estudiante: Johuser Alejandro Cespedes Garcia</h2>
    <div>Esta tarea es sobre: 
        Hacer un controlador web con un html que incluya.

        un h1 con un texto cualquiera.
        un h2 con un texto cualquiera.
        Un div, con un texto cualquiera.
        incluir estilos y css</div>
</body>
</html>